{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    <h1 class="text-center">{{ title }}</h1>
    <hr>
  {% for topic in topics|batch(3) %}
    <div class="row">
        {% for tpc in topic -%}
        <div class="col-md-4 list-unstyled">
          <h4>{{ tpc.title }}</h4>
          <ul class="list-group list-unstyled">
            {% for article in articles[tpc.slug] -%}
                <li>
                <a href="{{ article[1]|e }}" class="list-group-item">{{ article[0]|e }}</a>
                </li>
            {% endfor -%}
          </ul>
        </div>
        {% endfor %}
    </div>
  {% endfor %}
{% endblock %}