{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>Title 1</h4>
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Title 2</h4>
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Title 3</h4>
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}